<p id="notice"><%= notice %></p>

<p>
  <strong>Lesson:</strong>
  <%= @booking.lesson_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @booking.student_id %>
</p>

<p>
  <strong>Time:</strong>
  <%= @booking.time %>
</p>

<p>
  <strong>Date:</strong>
  <%= @booking.date %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
