<main>
  <div class="new">
    <h2>Sign Up</h2>
    <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
    <div class="error_messages">
     <h2>Form is invalid</h2>
     <ul>
       <% for message in @user.errors.full_messages %>
       <li><%= message %></li>
       <% end %>
     </ul>
   </div>
   <% end %>
   <div class="field">
     <%= f.label :first_name %><br>
     <%= f.text_field :first_name %>
   </div>
   <div class="field">
     <%= f.label :last_name %><br>
     <%= f.text_field :last_name %>
   </div>
   <div class="field">
     <%= f.label :email %><br>
     <%= f.text_field :email %>
   </div>
   <div class="field">
     <%= f.label :bio %><br>
     <%= f.text_area :bio %>
   </div>
   <div class="field">
     <%= f.label :image %><br>
     <%= f.text_area :image %>
   </div>
   <div class="field">
     <%= f.label :password %>
     <%= f.password_field :password %>
   </div>
   <div class="field">
     <%= f.label :password_confirmation %>
     <%= f.password_field :password_confirmation %>
   </div>
   <div class="actions"><%= f.submit %></div>
   <% end %>
 </div>
</main>