<main>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>First name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>


  <p>
    <strong>Bio:</strong>
    <%= @user.bio %>
  </p>

  <%= image_tag @user.avatar.detail %>
  <p>Lessons that <%= @user.first_name %> teaches</p>
  <div class ="user_show_lessons">
    <%= render @user.lessons %>
  </div>
  <% if current_user == @user %>
  <%= link_to 'Edit', edit_user_path(@user) %>
  <% end %>
</main>
