<main>

  <h2><%= @user.first_name %> <%= @user.last_name %></h2>

  <p>
    <strong>Bio:</strong>
    <%= @user.bio %>
  </p>

  <%= image_tag @user.avatar.detail %>
  <div class ="user_show_lessons">
  <p>Lessons that <%= @user.first_name %> teaches</p>
    <%= render @user.lessons %>
  </div>

  <div class="user_details">
    <% if current_user == @user %>
    <%= link_to 'Edit Profile', edit_user_path(@user) %>
    <%= link_to 'My Bookings', bookings_path %>
    <%= link_to "My Lesson Bookings", "/mylessonbookings" %>
    <% end %>
  </div>
</main>
