<main>

  <div class="user_profile_info">
    <div class="user_avatar">
      <%= image_tag @user.avatar.detail %>
    </div>
    <div class="user_name_bio">
    <h2><%= @user.first_name %> <%= @user.last_name %></h2>
    <p>
      <strong>Bio:</strong>
      <%= @user.bio %>
    </p>
    </div>
  </div>

  <div class="user_details">
    <p><% if current_user == @user %></p>
    <p><%= link_to 'Edit Profile', edit_user_path(@user) %></p>
    <p><%= link_to 'View Bookings', bookings_path %></p>
    <p><%= link_to "View Lessons", "/mylessonbookings" %></p>
    <% end %>
  </div>

  <div class ="user_show_lessons">
    <h3>Lessons that <%= @user.first_name %> teaches</h3>
    <%= render @user.lessons %>
  </div>
</main>
