<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @user.image, :class => "user_show_image" %>
</p>

<p>Classes:</p>
<% @user.lessons.each do |lesson| %>
<div class="lesson">
<%= link_to lesson do %>
  <%= lesson.title %>
<% end %>
</div>
<% end %>

<p><%= link_to "My Bookings", bookings_path %></p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
