<section class="module parallax parallax-1">
  <div class="homepage_banner container">
    <%= search_form_for @search do |f| %>
    <div class="field homepage_search">
      <div class="homepage_search_container">
        <%= f.text_field :title_or_description_cont, :placeholder => "What would you like to learn?" %>
        <%= f.submit "Search" %>
      </div>
    </div>
    <% end %>
  </div>
</section>

<main>
  <h2 class="popular">Popular Lessons</h2>
  <div class="lesson_index_container">
    <%= render @lessons %>
  </div>
  <div class ="category_container">
    <% @categories.each do |category| %>
    <%= link_to category.name, category, class: "category_button" %>
    <% end %> 
  </div>
</main>