<header>
  <nav>
    <ul>
      <li><%= link_to "skillstack", root_url %></li>
      <% if current_user %>
      <li><%= link_to "Logout", logout_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
      <li><a href="/users/<%= current_user.id %>">View Profile</a></li>
      <% else %>
      <li><%= link_to "Login", login_path %></li>
      <% end %>
      <li><%= link_to "Lessons", lessons_path %></li>
      <li><%= link_to "Create Lesson", new_lesson_path %></li>
      <li><%= link_to "Categories", categories_path %></li>
    </ul>
  </nav>
</header>