<li>
  <ul>
    <li>Title: <%= link_to lesson.title, lesson %></li>
    <li>Description: <%= lesson.description %></li>
    <li>Image One: <%= lesson.image_one %></li>
    <li>Location: <%= lesson.location %></li>
    <li>Cost: <%= lesson.cost %></li>
    <li>Teacher: <%= link_to lesson.teacher.try(:first_name) + " " + lesson.teacher.try(:last_name), lesson.teacher %></li>
    <li>Category: <%= link_to lesson.category.try(:name), lesson.category %></li>
    <li><%= link_to 'Edit', edit_lesson_path(lesson) %></li>
    <li><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
</li>