<main>
  <%= search_form_for @search do |f| %>
  <div class="field homepage_search">
    <div class="homepage_search_container">
      <%= f.text_field :description_cont, :placeholder => "What would you like to learn?" %>
      <%= f.submit "Search" %>
    </div>
  </div>
  <% end %>
  <div class="lesson_index_main_container">
  <div class="lesson_index_container">
    <%= render @lessons %>
  </div>
  <div class ="category_container">
    <% @categories.each do |category| %>
    <%= link_to category.name, category, class: "category_button" %>
    <% end %> 
  </div>
</div>
</main>
