<main>
  <h1>Listing Lessons</h1>

  <%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.text_field :description_cont, :placeholder => "What would you like to learn?" %>
    <%= f.submit "Search" %>
  </div>
  <% end %>

  <%= render @lessons %>

  <%= link_to 'New Lesson', new_lesson_path %>
</main>
