<main>
  <div class="lesson_show_info">
  <div class="lesson_show_main_image"><%= image_tag @lesson.image_one.lesson_main %></div>
    <div class="lesson_show_text">
      <h2><%= @lesson.title %></h2>
      <p>with <%= link_to @lesson.teacher.try(:first_name) + " " + @lesson.teacher.try(:last_name), @lesson.teacher %></p>
      <p>Description: <%= @lesson.description %></p>
      <p>Location: <%= @lesson.location %></p>
      <p>Cost: <%= @lesson.cost %></p>
      <p>Category: <%= link_to @lesson.category.try(:name), @lesson.category %></p>
      <%= link_to like_lesson_path(@lesson), method: :put do %>
            <span class="small_likes_button">Likes: <%= @lesson.get_upvotes.size %></span>
            <% end %>
      <p><%= link_to "Request Booking", "/bookings/new?lesson_id=#{@lesson.id}", class: "request_lesson" %></p>
      <% if current_user == @lesson.teacher %>
      <%= link_to 'Edit Lesson', edit_lesson_path(@lesson) %>
      <% end %>
    </div>
  </div>

  <div class="nearby_main_container">
    <div class ="nearby_lessons">
      <h4>Nearby Lessons</h4>
      <%= render @lesson.nearbys %>
    </div>
    <div class ="category_container">
      <% @categories.each do |category| %>
      <%= link_to category.name, category, class: "category_button" %>
      <% end %> 
    </div>
  </div>
</main>