<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>Classes:</p>
<% @user.lessons.each do |lesson| %>
<div class="lesson">
<%= link_to lesson do %>
  <%= lesson.title %>
<% end %>
</div>
<% end %>

<p>Bookings:</p>
<% @user.bookings.each do |booking| %>
<div class="booking">
<%= link_to booking do %>
  <%= booking.lesson.try(:title) %>
  <%= booking.date %>
<% end %>
</div>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
